@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Anton&display=swap');

:root {
    --primario: rgba(0, 0, 0, 0.575);
    --primarioTitulo: rgba(215, 201, 201, 0.4);
    --secundario: rgba(255, 255, 255, 0.479);
    --gris: rgba(245, 248, 248, 0.61);
    --negro: #000;
    --blanco: rgba(255, 255, 255, 0.911);
}

html {
    font-size: 62.5%;
    height: 100%;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    background-image: url(../IMG/cámaradegas.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 120rem;
}

.contenedor {
    width: 100%;
    color: var(--primarioTitulo);
    padding: 0.5rem;
    margin-top: 5rem;
    text-align: center;
}

header {
    width: max-content;
    margin: 0 auto;
}

h1 {
    font-family: "Anton", sans-serif;
    font-size: 6rem;
    margin: 0;
}

h1 a {
    color: inherit; /* Hereda el color del h1 */
    text-decoration: none; /* Elimina el subrayado típico de los enlaces */
    background-color: transparent; /* Mantiene el fondo transparente */
}

@media (min-width: 768px) {
    header {
        color: var(--gris);
    }
}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    text-align: center;
}

@media (min-width: 768px) {
    .navegacion {
        flex-direction: row;
        justify-content: center;
        margin: 1rem 0;
    }
}

a {
    font-family: "Adamina", serif;
    font-weight: 400;
    background-color: var(--primario);
    color: var(--secundario);
    text-decoration: none;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0.3rem;
}

.navegacion a:hover {
    background-color: var(--secundario);
    color: var(--primario);
    transition: 0.5s;
}

.prox {
    display: block;
    color: var(--primarioTitulo);
    font-size: 1.5rem;
    text-align: center;
}

h2 {
    margin: 20rem 0 0 0;
}